fastapi
uvicorn[standard]
chromadb==0.4.24
numpy<2.0
langchain
langchain-openai
python-multipart
pydantic
python-dotenv
PyPDF2
python-docx
tiktoken
setuptools
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary